# Eclipse specific settings
.classpath
.project
.settings

# Binaries
target
target/*
*/target
*.class

# Package Files #
*.jar
*.war
*.ear

pom.properties

# Specific files
*.yml
quantocusta-client/configuration.yml
quantocusta-service/configuration.yml
